Installed modules:
express path body-parser cookie-parser pug mysql2

Data Creation paths (seperated for modularity and traceability reasons):
/dropTables
/createTables
/insertUsers
/insertProducts
/insertOrders

Table Schemas:

CREATE TABLE IF NOT EXISTS users (
      username varchar(255) NOT NULL,
      password varchar(30),
      name VARCHAR(255),
      PRIMARY KEY (username)
)

CREATE TABLE IF NOT EXISTS products (  
      productId VARCHAR(255) NOT NULL,
      supplier VARCHAR(255) NOT NULL,
      name VARCHAR(255),
      image VARCHAR(255),
      price decimal(10, 2),
      PRIMARY KEY (productId),
      INDEX idx_productId (productId)
)

CREATE TABLE IF NOT EXISTS orders ( 
      orderId int NOT NULL AUTO_INCREMENT,
      datetime DATETIME,
      totalPrice decimal(10, 2),
      username varchar(255),
      PRIMARY KEY (orderId, username),
      FOREIGN KEY (username) REFERENCES users(username) ON DELETE CASCADE
)